###Assignment problem solving

In [ ]:
#Q1. Using Python script as a calculator Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Thenevaluate the following expression in the Python console.
 #ùê¥ = ùëù (1 + ùëü/ 100)n
n=10
r=5
p=100
A=p*((1+r/100)**n)
print(A)

In [12]:
A=10
B=20
Str ="there are {} students in the class {} with who play atleast one sport"

In [14]:
print("string.format(a,b)")

string.format(a,b)

In [16]:
print(Str.format(A, B))

there are 10 students in the class 20 with who play atleast one sport

In [18]:
x = lambda a,b: a//b
x(10,3)

3

In [20]:
 A = 10
 B = 10
 print("Smaller") if A == B else print("Greater") if A < B else print("True")

Smaller

In [22]:
import os 
import numpy as np
my_list1=[2,5,7,8,9]
print(my_list1)
arr_1=np.array(my_list1,dtype=int)
print(arr_1)

[2, 5, 7, 8, 9]
[2 5 7 8 9]

In [28]:
string="machine learning"
string[slice(8,13,1)]

'learn'

In [37]:
sequence = list(range(10, 26, 4))
print(sequence)  # Output: [10, 14, 18, 22]

[10, 14, 18, 22]

In [41]:
a=sequence.index(18)
a

2

In [42]:
num1=5**4
num2=pow(5,4)
print(num1,num2)

625 625

In [ ]:
x="string"
int(x)

In [44]:
Z ="ID-5632"

In [46]:
type(Z)

str

In [72]:
country={'india':'delhi','china':'beijing','japan':'tokyo','qatar':'doha','france':'marceiles'}

In [52]:
country.keys()

dict_keys(['india', 'china', 'japan', 'qatar', 'france'])

In [74]:
country['france']='paris'

In [70]:
country.values()

dict_values(['paris'])

In [75]:
print(country)

{'india': 'delhi', 'china': 'beijing', 'japan': 'tokyo', 'qatar': 'doha', 'france': 'paris'}

In [76]:
 tuple_1 = (1,5,6,7,8)
 tuple_2 = (8,9,4)

In [83]:
#sum(tuple_1)
#len(tuple_2)
#tuple_2 + tuple_1
#tuple_1[3] = 45

#How many elements in the following data structure?
s={1,2,3,4,4,4,5,6}
len(s)

In [88]:
#Write a function which finds all pythagorean triplets of triangles whose sides are no greater than a natural number N
def pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):  # Start from a to ensure a <= b
            c_squared = a**2 + b**2
            c = int(c_squared ** 0.5)
            if c <= N and c_squared == c**2:  # Check if c is integer and ‚â§ N
                triplets.append((a, b, c))
    return triplets

# Example Usage
N = 9
print(pythagorean_triplets(N))

[(3, 4, 5)]

##  multiple inheritance oops

In [ ]:
 Write a Python program to demonstrate multiple inheritance.
 1. Employee class has 3 data members EmployeeID, Gender (String), Salary and
 PerformanceRating(Out of 5) of type int. It has a get() function to get these details from
 the user.
 2. JoiningDetail class has a data member DateOfJoining of type Date and a function
 getDoJ to get the Date of joining of employees.
 3. Information Class uses the marks from Employee class and the DateOfJoining date
 from the JoiningDetail class to calculate the top 3 Employees based on their Ratings
 and then Display, using readData, all the details on these employees in Ascending
 order of their Date Of Joining

In [90]:
class employee():
    def __init__(self):
        self.employeeid=int(input("enter your employeeid:"))
        self.gender=str(input("enter your gender:"))
        self.salary=int(input("enter your salary"))
        self.performancerating=int(input("rate us '1,2,3,4,5':"))
    def get_employee(self):
        return self.employeeid,self.gender,self.get_employee,self.salary

In [8]:
class employee:
    def __init__(self):
        self.employeeid = int(input("Enter your employee ID: "))
        self.gender = input("Enter your gender: ")
        self.salary = int(input("Enter your salary: "))
        self.performancerating = int(input("Rate us (1-5): "))
        
    def get_employee(self):
        return self.employeeid, self.gender, self.salary, self.performancerating

In [9]:
# Create an employee instance
emp1 = employee()  # This will prompt for all details

# Access the employee's attributes directly
print(f"ID: {emp1.employeeid}, Salary: {emp1.salary}")

# Use the get_employee() method
details = emp1.get_employee()
print(f"All details: {details}")

Enter your employee ID:  2121
Enter your gender:  M
Enter your salary:  14
Rate us (1-5):  5

ID: 2121, Salary: 14
All details: (2121, 'M', 14, 5)

In [ ]:
class Employee:
    def __init__(self):
        self.EmployeeID = None
        self.Gender = None
        self.Salary = None
        self.PerformanceRating = None

    def get(self):
        self.EmployeeID = input("Enter Employee ID: ")
        self.Gender = input("Enter Gender (M/F/O): ")
        self.Salary = float(input("Enter Salary: "))
        self.PerformanceRating = int(input("Enter Performance Rating (1-5): "))

class Department:
    def __init__(self):
        self.DeptName = None

    def get_dept(self):
        self.DeptName = input("Enter Department Name: ")

class Role:
    def __init__(self):
        self.JobTitle = None

    def get_role(self):
        self.JobTitle = input("Enter Job Title: ")

class FullDetails(Department, Role, Employee):
    def __init__(self):
        Employee.__init__(self)
        Department.__init__(self)
        Role.__init__(self)

    def get_all(self):
        self.get()          # From Employee
        self.get_dept()     # From Department
        self.get_role()     # From Role

    def display(self):
        print("\nEmployee Details:")
        print(f"ID: {self.EmployeeID}")
        print(f"Gender: {self.Gender}")
        print(f"Salary: {self.Salary}")
        print(f"Performance Rating: {self.PerformanceRating}")
        print(f"Department: {self.DeptName}")
        print(f"Job Title: {self.JobTitle}")

# Demo
emp = FullDetails()
emp.get_all()
emp.display()

Assignment -1

In [ ]:
for i in range(1,10):
    print(i)

In [9]:
count=1
while count<=10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9
10

In [18]:
#Take three user inputs and print the greatest number from those inputsusing if-else condition. Edge cases, if any, should also be handled.
a=int(input("enter first number :"))
b=int(input("enter second number :"))
c=int(input("enter third number :"))
if a >= b and a >= c:
    print(f"The greatest number is: {a}")
elif b >= a and b >= c:
    print(f"The greatest number is: {b}")
else:
    print(f"The greatest number is: {c}")

enter first number : 2
enter second number : 3
enter third number : 5

The greatest number is: 5

In [24]:
 #Print the numbers from 1 to 10 using while loop.
num=1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [30]:
#Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help of while loop fetch the even numbers and print the numbers
list=[10,23,4,26,4,75,24,54]
i=0
while i < len(list):
    if list[i]%2==0:
        print(list[i])
    i+=1

10
4
26
4
24
54

In [36]:
#Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help of while loop fetch the odd numbers and print the numbers
list=[10,23,4,26,4,75,24,54,22,5,8,7,9,6,5,8,8,4,25,545,55,85,565,55,5,5,58,58]
i=0
while i<len(list):
    if list[i]%2 !=0:
        print(list[i])
    i+=1

23
75
5
7
9
5
25
545
55
85
565
55
5
5

In [40]:
# Create an array that has user defined inputs and with the help of for loop,fetch all the prime numbers and print the numbers
import numpy as np
size = int(input("Enter how many numbers you want to input: "))
arr1 = np.zeros(size, dtype=int)
print(arr1)
for i in range(size):
    arr1[i] = int(input(f"Enter number {i+1}: "))
print("Prime numbers are:")
for num in arr1:
    if num > 1:
        for j in range(2, int(num**0.5) + 1):
            if num % j == 0:
                break
        else:
            print(num)

Enter how many numbers you want to input:  5

[0 0 0 0 0]

Enter number 1:  15
Enter number 2:  55
Enter number 3:  54
Enter number 4:  54
Enter number 5:  56

Prime numbers are:

In [59]:
#Create a list containing squares of numbers from 1 to 10 (HINT: use ListComprehension)
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
#Create a list containing cubes of numbers from 1 to 10 (HINT: use ListComprehension)
cube=[i**3 for i in range(1,10)]
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [67]:
# Write a function to check if the year number is a leap year
a=2025
i=int(input("enter value of year"))
if i==a+4:
    print("it is a leap year")
else:
    print("it is not a leap year")

enter value of year 2026

it is not a leap year

In [70]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))

if is_leap_year(year):
    print("It is a leap year.")
else:
    print("It is not a leap year.")

Enter a year:  2024

It is a leap year.

In [ ]:
#Write a function to take an array and return another array that contains the members of the first array that are even

import numpy as np

def get_even_numbers(arr):
    even_arr = arr[arr % 2 == 0]  # Using boolean indexing to get even elements
    return even_arr

# Taking input from the user
size = int(input("Enter the number of elements in the array: "))
arr1 = np.zeros(size, dtype=int)

for i in range(size):
    arr1[i] = int(input(f"Enter element {i+1}: "))

# Get even numbers and print
even_numbers = get_even_numbers(arr1)
print("Even numbers in the array are:", even_numbers)

In [71]:
#Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. (HINT: use Membership Comprehension)

def common_elements(arr1, arr2):
    result = [x for x in arr1 if x in arr2]
    print("Common elements are:", result)

# Example input
arr1 = [10, 20, 30, 40, 50]
arr2 = [30, 50, 70, 90]

# Function call
common_elements(arr1, arr2)

Common elements are: [30, 50]